/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
.container h1 {
	font-size: 35px;
	color: #CDCDCD;
	font-family: "Verdana";
}
.container h2 {
	font-size: 25px;
	color: #CDCDCD;
	font-family: "Verdana";
}
.container .ui-tabs-panel{
	min-height: 300px;
}
.container .main-tabs span.tab-icon{
	width: 30px;
	height: 30px;
	display: inline-block;
}
.container .main-tabs .ui-state-active span.temp-icon{
	background: url('../img/temperature.png') no-repeat; 
}
.container .main-tabs span.temp-icon{
	background: url('../img/temperature-white.png') no-repeat; 
}
.container .main-tabs .ui-state-active span.light-icon{
	background: url('../img/light-bulb.png') no-repeat; 
}
.container .main-tabs span.light-icon{
	background: url('../img/light-bulb-white.png') no-repeat; 
}
.container .main-tabs .ui-state-active span.emp-icon{
	background: url('../img/emp.png') no-repeat; 
}
.container .main-tabs span.emp-icon{
	background: url('../img/emp-white.png') no-repeat; 
}
.container .main-tabs .info-table th,
.container .main-tabs .info-table td{
	padding: 15px;
	border-bottom: 1px dotted #ffffff;
}
.operation-dialog {
	display: none;
}
.container .main-tabs .info-table th{
	font-weight: bold;
}
hr {
	margin: 5px 0 10px 0;
}
span.dialog-info {
	display: block;
}
.container .main-tabs .info-table td a{
	color: #26b3f7;
	text-decoration: none;
}
.container .main-tabs .emp-table td {
	text-align: center;
}
.container .main-tabs .temp-tab-content{
	background: url('../img/sun-cloud.png') no-repeat right;
}
.container .main-tabs .light-tab-content{
	background: url('../img/light-bulb-large.png') no-repeat right;
}
.container .main-tabs .emp-tab-content{
	background: url('../img/emp-large.png') no-repeat right;
}